{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "components",
        "core": "core",
        "pages": "pages",
        "server": "server",
        "config": "config"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
