{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "core": "./src/core",
        "pages": "./src/pages",
        "server": "./src/server",
        "config": "./src/config",
        "constants": "./src/constants"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
